.hero {
  background-color: #f9f7fe;
  text-align: center;
  font-weight: bold;
}
.hero p {
  font-size: 33px;
}

.hero h1 {
  font-size: 96px;
  padding-bottom: 8px;
}
.hero h2 {
  font-size: 24px;
  padding-bottom: 48px;
}

.contact-btn {
  background-color: #6c61f6;
  border-radius: 4px;
  border: 1px solid #6c61f6;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: #fff;
  color: #6c61f6;
  transition: ease-in-out 300ms;
}

@media (max-width: 576px) {
  p {
    font-size: 20px !important;
  }
  h1 {
    font-size: 25px !important;
  }
  h2 {
    font-size: 20px !important;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 30px !important;
  }
  p {
    font-size: 15px !important;
  }
}
